
sprint2/*/*/build/
sprint3/pair/build/
sprint3/*/*/build/
sprint4/*/*/build/
sprint5/*/*/build/
sprint6/*/*/build/
sprint7/*/*/build/
sprint8/*/*/build/
sprint9/*/*/build/
sprint10/*/*/build/
sprint11/*/*/build/
sprint12/*/*/build/
sprint13/*/*/build/
sprint14/*/*/build/
sprint15/*/*/build/
sprint16/*/*/build/

*.txt.user
build/
*.user
*.pro.user
*.o
*.exe
*.obj
*.zip
*.lib
*.dll
